 <!-- ***************************
        Header Area Start
     *************************** -->
     <header class="header_area">
		<div class="main_menu_area menu_style_2 scroll_fixed">
			<div class="left_logo">
				<button type="button" class="navbar-toggles">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="index.html" class="logo">
					<img src="assets/images/logo-canapele.png" alt="Logo">
				</a>
			</div><!--end .left_logo-->
			<div class="middle_menu collapse_responsive text-right">
				<span class="close_menu_area_btn">x</span>
				<div class="collapse navbar-collapse remove_padding" id="myNavbar">
					<ul class="nav navbar-nav text-center">
						<li >
							<a href="index.html">Acasa </a>
							
						</li>
						<li><a href="about.html">Despre noi</a></li>
						<li><a href="service.html">Curatare Canapele</a></li>
						<li>
							<a href="">Preturi</a>
						</li>
						<li>
							<a href="">Galerie foto</a>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div><!--end .collapse-->
			</div><!--end .middle_menu-->
			<div class="right_contact">
				<i class="icon-phone-call"></i>
				<p>Salveaza canapeaua <span>(0723) 333 333</span></p>
			</div><!--end .right_contact-->
		</div><!--end .main_menu_area-->
	</header><!--end .header_area-->
   <!-- ***************************
	   Header Area End
	*************************** -->