.call-us {
    display: flex;
    justify-content: flex-end;
}

.header_area .main_menu_area .navbar-nav li {
    position: relative;
    margin-left: 30px;
}

.header_area .menu_style_2 .right_contact {
    background: #daeeff;
}

.header_area .menu_style_2 .right_contact i {
    color: #f44336;
}

.header_area .menu_style_2 .right_contact p, .header_area .menu_style_2 .right_contact p span {
    color: #2f3437;
}