
<div class="copyright_area text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12 footer-container">
				<img src="/assets/images/logo-canapele.png" alt="">
				<div class="info">
					<div class="policy">
						<p>© Curatat canapele 2022 Toate drepturile rezervate</p>
					</div>
					
					<div class="links">
						<a routerLink="/termeni-si-conditii">Termeni si Conditii</a>
						<a routerLink="/confidentialitate">Confidentialitate</a>
						<a routerLink="/setari-gdpr">GDPR si Cookies</a>
					</div>
				</div>
				
			</div><!--end .col-md-12-->
		</div><!--end .row-->
	</div><!--end .container-->
</div>