section {
    padding: 40px 0;
}

.lst-kix_qdvd7iqwhpoc-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_qdvd7iqwhpoc-2 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-3 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-0 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-1 {
    list-style-type: none
}

.lst-kix_p4e6yi91selq-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_qdvd7iqwhpoc-8 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-6 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-7 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-4 {
    list-style-type: none
}

ul.lst-kix_qdvd7iqwhpoc-5 {
    list-style-type: none
}

ul.lst-kix_p4e6yi91selq-2 {
    list-style-type: none
}

ul.lst-kix_p4e6yi91selq-1 {
    list-style-type: none
}

.lst-kix_p4e6yi91selq-3>li:before {
    content: "\0025cf  "
}

.lst-kix_p4e6yi91selq-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_p4e6yi91selq-4 {
    list-style-type: none
}

ul.lst-kix_p4e6yi91selq-3 {
    list-style-type: none
}

.lst-kix_p4e6yi91selq-1>li:before {
    content: "\0025cb  "
}

.lst-kix_p4e6yi91selq-2>li:before {
    content: "\0025a0  "
}

.lst-kix_p4e6yi91selq-5>li:before {
    content: "\0025a0  "
}

.lst-kix_p4e6yi91selq-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_p4e6yi91selq-0 {
    list-style-type: none
}

.lst-kix_qdvd7iqwhpoc-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_p4e6yi91selq-6 {
    list-style-type: none
}

ul.lst-kix_p4e6yi91selq-5 {
    list-style-type: none
}

ul.lst-kix_p4e6yi91selq-8 {
    list-style-type: none
}

.lst-kix_qdvd7iqwhpoc-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_p4e6yi91selq-7 {
    list-style-type: none
}

.lst-kix_qdvd7iqwhpoc-5>li:before {
    content: "\0025a0  "
}

.lst-kix_qdvd7iqwhpoc-7>li:before {
    content: "\0025cb  "
}

.lst-kix_qdvd7iqwhpoc-2>li:before {
    content: "\0025a0  "
}

.lst-kix_qdvd7iqwhpoc-6>li:before {
    content: "\0025cf  "
}

.lst-kix_p4e6yi91selq-7>li:before {
    content: "\0025cb  "
}

.lst-kix_p4e6yi91selq-8>li:before {
    content: "\0025a0  "
}

.lst-kix_qdvd7iqwhpoc-3>li:before {
    content: "\0025cf  "
}

.lst-kix_qdvd7iqwhpoc-4>li:before {
    content: "\0025cb  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c10 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c9 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c13 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c4 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c7 {
    color: inherit;
    text-decoration: inherit
}

.c11 {
    padding: 0;
    margin: 0
}

.c12 {
    height: 11pt
}

.c0 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

