
<section class="contact_area contact_style_4 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact_box">
                    <div class="hero_section_title mb_50">
                        <h4>Contactati-ne</h4>
                        <h1>Trimite-ne un mesaj</h1>
                    </div><!--end .hero_section_title-->

                    <app-quick-form-contact></app-quick-form-contact>
                    
                </div><!--end .contact_box-->
            </div><!--end .col-md-8-->
            <div class="col-md-4">
                <div class="contact_right_info">
                    <h3>Informatii Utile</h3>
                    <ul>
                        <li><i class="icon-phone-call"></i> (0747) 171 409</li>
                        <li><i class="icon-envelope"></i> programari@curatat-canapele.ro</li>
                        <li><i class="fa fa-map-marker"></i> Bucuresti si Ilfov</li>
                    </ul>
                </div><!--end .contact_right_info-->
            </div><!--end .col-md-4-->
        </div><!--end .row-->
    </div><!--end .container-->
</section>