<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  <div class="row">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <div class="alert alert-danger" *ngIf="!contactForm.valid && contactForm.touched">
        <span class="help-block">Va rugam sa completati toate datele</span>
      </div>
    </div>
      <div class="col-md-6 pr_10">
          <div class="input-group">
              <input type="text" name="name" required minlength="3" ngModel placeholder="Nume">
          </div><!--end .input-group-->
      </div><!--end .col-md-6-->
      <div class="col-md-6 pl_10">
          <div class="input-group">
              <input type="email" name="email" placeholder="email" required minlength="6" ngModel>
          </div><!--end .input-group-->
      </div><!--end .col-md-6-->
      <div class="col-md-6 pl_10">
        <div class="input-group">
            <input type="text" name="phone" placeholder="Telefon" required minlength="3" ngModel>
        </div><!--end .input-group-->
    </div><!--end .col-md-6-->
      <div class="col-md-12">
          <div class="input-group">
              <textarea name="message" id="message" ngModel placeholder="Scrie mesajul aici"></textarea>
              
          </div><!--end .input-group-->
          <div class="form-group col-md-12 col-sm-12 col-xs-12 gdpr">
            <input ngModel required type="checkbox" name="gdpr">
            <label for="gdpr">Sunt de acord cu inregistrarea, stocarea si prelucrarea datelor mele personale conform <a routerLink="/confidentialitate">Politicii de Confidentialitate</a></label>
          </div>
          <button class="btn btn-default default_btn" [disabled]="!contactForm.valid" type="submit">Trimite</button>
      </div><!--end .col-md-12-->
    
  </div><!--end .row-->
</form>