<section class="installation_area market_innovation section_padding section_dark_bg">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr_0">
                <div class="installation_left">
                    <div class="hero_section_title mb_50">

                        <h1>Reda viata canapelei tale</h1>
                        <h3>Curatam si igienizam canapele, fotolii si scaune tapitate
                            Ne deplasam la domiciliul tau, oriunde in Bucuresti & Ilfov</h3>
                    </div>
                    <!--end .hero_section_title-->
                    <ul class="innovation_list mb_50">


                        <li><img src="/assets/images/right-arrow.svg" alt=""> Uscare rapida in 4 ore</li>
                        <li><img src="/assets/images/right-arrow.svg" alt=""> Eliminam 99% din microbi</li>
                        <li><img src="/assets/images/right-arrow.svg" alt=""> Scoatem pete imposibile</li>

                    </ul>

                </div>
                <!--end .installation_left-->
            </div>
            <!--end .col-md-6-->
        </div>
        <!--end .row-->
    </div>
    <!--end .container-->
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">CANAPEAUA, LOCUL MEU PREFERAT DE ACASA</h1>
                    <h2 class="mb_50">Cine nu iubeste canapelele? Sunt confortabile si atat de versatile!</h2>
                </div>
                <ul class="innovation_list mb_50">
                    <li><img src="/assets/images/right-arrow.svg" alt="">Este locul preferat de joaca al celor mici.
                    </li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Aici se tolanesc animalutele noastre dragi.
                    </li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Filmele si serialele se vad cel mai bine de
                        aici.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Cafeaua de dimineata are alt gust servita pe
                        canapea.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Tarr-tarr! E weekend si a sosit pizza ta
                        preferata.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Ah, si desigur! De aici lucrezi cu
                        productivitate maxima.</li>
                </ul>
                <p>Insa, <strong>cu cat petreci mai mult timp acasa, cu atat mai rapid se va murdari
                        canapeaua</strong>. Resturi
                    de mancare si pete de ulei, cafea, vin rosu, par de animale, pix si carioci, urme de transpiratie si
                    machiaj. <strong>Sa continuam?</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <img width="100%" src="assets/images/firma-curatare-canapele.jpg"  class="mb_50 mt_50">
        <div class="hero_section_title mb_50">
            <p>In afara de murdaria vizibila, <strong>bacterii, acarieni si virusuri se ascund in tesatura
                    canapelei</strong> tale, mai
                ales acum, ca este atat de intens folosita de catre toti membrii familiei.
            </p>

            <p>Mai mult, produsele casnice de curatenie din comert lasa reziduuri in materialul canapelei. Aceste
                particule sunt adesea incarcate de substante chimice care <strong>pot declansa alergii si pot scadea
                    imunitatea</strong>.
            </p>
        </div>
    </div>

</section>

<section class="section-full-width">
    <div class="hero_section_title text-center mb_50">
        <h1 class="mb_20">CUM SA AI O CANAPEA</h1>
        <h2>CURATA SI 100% IGIENIZATA?</h2>
    </div>
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p class="mb_50">Sa cureti canapeaua cu produse conventionale este o activitate dificila si de cele mai
                    multe ori,
                    ineficienta.
                    Uneori, fara sa vrei, poti face mai mult rau decat bine.
                    O canapea curatata cu apa si detergent se usuca greu, iar <strong>umezeala ramasa in canapea
                        favorizeaza aparitia mucegaiului</strong>.
                </p>
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">CUM CURATAM NOI?</h1>
                    <p>Venim “inarmati” cu cel mai eficient aparat de curatare - prin metoda injectie - exctractie.</p>
                </div>
                <div class="section-list-container">
                    <ul>
                        <li>
                            <img src="/assets/images/01-e1555074623430.png" alt="">
                            <span>Injectam apa cu solutie de curatat profesionala si non-chimica</span>
                        </li>
                        <li>
                            <img src="/assets/images/02-e1555065752356.png" alt="">
                            <span>Extragem apa, impreuna cu toata murdaria, praful, bacteriile si mirosurile
                                neplacute</span>
                        </li>
                        <li>
                            <img src="/assets/images/03-e1555066189397.png" alt="">
                            <span>In 4-5 ore ai o canapea uscata, dezinfectata & igienizata</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section section_padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">AM SALVAT CANAPELELE DE MAI JOS:</h1>
                </div>
                <owl-carousel-o [options]="customOptions" class="before-and-after-section">
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/dddddd.png" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/dddddd.png" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/dddddd.png" alt="">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>

</section>

<section class="section_dark_bg section_padding pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">PRETURI CURATARE CANAPELE LA DOMICILIU</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-pricing">
                <ul class="innovation_list mb_50">
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Canapea 3 locuri (simpla): 200 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Canapea 3 locuri (coltar): 250 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Canapea 5 locuri: 300 lei
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-pricing">
                <ul class="innovation_list mb_50">
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Scaun Tapitat: de la 20 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Fotoliu: 100 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Perna suplimentara: 25 lei/buc
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 pricing-action">
                <button routerLink="/contact" class="btn btn-primary default_btn btn-red mb_30">Programeaza cu 10%
                    discount</button>
                <p>*Preturile pot creste in functie de gradul de murdarie si de dimensiune
                    Pretul final se stabileste dupa ce ne transmiteti fotografia cu piesa de mobilier pe care urmeaza sa
                    o curatam.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section_padding schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">FIRMA DE CURATARE CANAPELE LA DOMICILIU?</h1>
                    <h2 class="mb_20">Dureaza doar 60 de secunde sa programezi o sedinta de curatare.
                        <br> Apoi te bucuri de o canapea curata si igienizata!
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center col-mb-50">
            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/book.svg">
                    </div>
                    <p>Ne suni sau ne trimiti email</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/confirm3.svg">
                    </div>
                    <p>Confirmam si programam ziua & ora</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/enjoy.svg">
                    </div>
                    <p>Te relaxezi pe canapeua ta curata</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="actions">
                    <a href="tel:+40723333333" class="btn btn-primary default_btn btn-red">Suna</a>
                    <a routerlink="/contact" class="btn btn-secondary default_btn">Cere oferta</a>
                </div>
            </div>
        </div>
    </div>
</section>