<section class="installation_area market_innovation section_padding section_dark_bg">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr_0">
                <div class="installation_left">
                    <div class="hero_section_title mb_50">

                        <h1>Reda viata canapelei tale</h1>
                        <h3>Curatam si igienizam canapele, fotolii si scaune tapitate
                            Ne deplasam la domiciliul tau, oriunde in Bucuresti & Ilfov</h3>
                    </div>
                    <!--end .hero_section_title-->
                    <ul class="innovation_list mb_50">


                        <li><img src="/assets/images/right-arrow.svg" alt=""> Uscare rapida in 4 ore</li>
                        <li><img src="/assets/images/right-arrow.svg" alt=""> Eliminam 99% din microbi</li>
                        <li><img src="/assets/images/right-arrow.svg" alt=""> Scoatem pete imposibile</li>

                    </ul>

                </div>
                <!--end .installation_left-->
            </div>
            <!--end .col-md-6-->
        </div>
        <!--end .row-->
    </div>
    <!--end .container-->
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">CANAPEAUA, LOCUL MEU PREFERAT DE ACASA</h1>
                    <h2 class="mb_50">Cine nu iubeste canapelele? Sunt confortabile si atat de versatile!</h2>
                </div>
                <ul class="innovation_list mb_50">
                    <li><img src="/assets/images/right-arrow.svg" alt="">Este locul preferat de joaca al celor mici.
                    </li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Aici se tolanesc animalutele noastre dragi.
                    </li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Filmele si serialele se vad cel mai bine de
                        aici.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Cafeaua de dimineata are alt gust servita pe
                        canapea.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Tarr-tarr! E weekend si a sosit pizza ta
                        preferata.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Ah, si desigur! De aici lucrezi cu
                        productivitate maxima.</li>
                </ul>
                <p>Insa, <strong>cu cat petreci mai mult timp acasa, cu atat mai rapid se va murdari
                        canapeaua</strong>. Resturi
                    de mancare si pete de ulei, cafea, vin rosu, par de animale, pix si carioci, urme de transpiratie si
                    machiaj. <strong>Sa continuam?</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <img width="100%" src="assets/images/firma-curatare-canapele.jpg" alt="House" class="mb_50">
        <div class="hero_section_title mb_50">
            <p>In afara de murdaria vizibila, <strong>bacterii, acarieni si virusuri se ascund in tesatura
                    canapelei</strong> tale, mai
                ales acum, ca este atat de intens folosita de catre toti membrii familiei.
            </p>

            <p>Mai mult, produsele casnice de curatenie din comert lasa reziduuri in materialul canapelei. Aceste
                particule sunt adesea incarcate de substante chimice care <strong>pot declansa alergii si pot scadea imunitatea</strong>.
            </p>
        </div>
    </div>

</section>