.section_dark_bg {
    background-color: #daeeff;
    color:  #1e294d;
}

.market_innovation:before {
    background: url('/assets/images/happy-blissful-girl-enjoying-sunny-morning-home-holding-favorite-book-drinking-coffee-warm-cozy-mood-pink-soft-colors.jpg') center right no-repeat;
    background-size: cover;
}

.installation_area .installation_left .hero_section_title h1, .installation_area .installation_left .hero_section_title h3 {
    margin-bottom: 16px;
    color: #1e294d;
}

.innovation_list {
    li {
        color: #1e294d;
        img {
            width: 20px;
            margin-right: 16px;
        }
    }
}