<section class="installation_area market_innovation section_padding section_dark_bg">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr_0">
                <div class="installation_left">
                    <div class="hero_section_title mb_50">

                        <h1>Fara alergii, ai mai mult chef de joaca!</h1>
                        <h3>Stiai ca salteaua ta e casa unor microorganisme declansatoare
                            de alergii, iritatii si chiar astm?
                        </h3>
                        <p>Curatam si igienizam saltele la domiciliu, in Bucuresti & Ilfov</p>

                    </div>
                    <!--end .hero_section_title-->

                    <ul class="innovation_list mb_50">
                        <li><img src="/assets/images/right-arrow.svg" alt="">Eliminam 99% din microbi</li>
                        <li><img src="/assets/images/right-arrow.svg" alt="">Scoatem pete imposibile</li>
                        <li><img src="/assets/images/right-arrow.svg" alt="">Uscare rapida in 4 ore</li>
                    </ul>

                </div>
                <!--end .installation_left-->
            </div>
            <!--end .col-md-6-->
        </div>
        <!--end .row-->
    </div>
    <!--end .container-->
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">CUM SA NU DORMI IN PAT CU INAMICUL</h1>
                    <h2 class="mb_50">Nimeni nu-si doreste sa imparta patul cu 1 milion de acarieni de praf</h2>
                </div>
                <p><strong>Vrei sa auzi o poveste horror?</strong></p>
                <ul class="innovation_list mb_50">
                    <li><img src="/assets/images/right-arrow.svg" alt="">In saltelele si pernele noastre traiesc cam 1
                        milion de acarieni de praf care se hranesc cu pielea noastra moarta si cu resturi de mancare,
                        urme de machiaj, creme si uleiuri.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Cat timp vietuiesc aici, produc excremente care
                        depasesc de 200 de ori greutatea lor.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Acarienii se inmultesc rapid - o femela poate
                        depune pana la 300 de oua.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Pot trai fara hrana pana la 1 an.</li>
                </ul>
                <p>Acarienii de praf nu sunt paraziti. Ei nu “musca”. nu inteapa si nu se pot infige in pielea noastra.
                </p>
                <p>Reactiile alergice, iritatiile si chiar astmul sunt cauzate de contactul cu excrementele si cu
                    fragmente din corpurile lor.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img width="100%" src="assets/images/curatare-saltele.jpg" class="mb_50 mt_50">
        <div class="hero_section_title mb_50">
            <p>Stai linistit! Acarienii exista in toate casele, indiferent de cat de curata este.
            </p>
            <ul class="innovation_list mb_50">
                <li><img src="/assets/images/right-arrow.svg" alt=""> <strong>Schimbarea asternuturilor
                        saptamanal <span>ajuta</span></strong> la stoparea raspandirii lor.</li>
                <li><img src="/assets/images/right-arrow.svg" alt=""> <strong>Curatarea profesionala a
                        saltelelor <span>ii extermina</span></strong>, lasandu-ti un somn linistit, odihnitor si fara
                    alergii.</li>
            </ul>
        </div>
    </div>

</section>

<section class="section-full-width">
    <div class="hero_section_title text-center mb_50">
        <h1 class="mb_20">CUM SA AI O SALTEA</h1>
        <h2>CURATA SI 100% IGIENIZATA?</h2>
    </div>
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p class="mb_50">Curatarea profesionala a saltelelor ar trebui facuta cel putin o data pe an.
                    Pentru persoanele afectate de alergii, copii si persoane in varsta recomandam ca saltelele sa fie
                    curatate profesional de doua ori pe an.


                </p>
                <p><strong class="red">ATENTIE!</strong> O canapea curatata cu apa si detergent se usuca greu, iar
                    umezeala ramasa in canapea favorizeaza aparitia mucegaiului.</p>
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">CUM CURATAM NOI?</h1>
                    <p>Venim “inarmati” cu cel mai eficient aspirator de curatare ce curata prin metoda injectie -
                        exctractie</p>
                </div>
                <div class="section-list-container">
                    <ul>
                        <li>
                            <img src="/assets/images/01-e1555074623430.png" alt="">
                            <span>Aspiram salteaua cu un aspirator ultra puternic pentru a scapa de praf si alte
                                particule nedorite</span>
                        </li>
                        <li>
                            <img src="/assets/images/02-e1555065752356.png" alt="">
                            <span>Injectam apa cu solutie de curatat profesionala si non-chimica in tesatura
                                saltelei</span>
                        </li>
                        <li>
                            <img src="/assets/images/03-e1555066189397.png" alt="">
                            <span>Extragem apa, impreuna cu toata murdaria, praful, bacteriile si mirosurile
                                neplacute</span>
                        </li>
                    </ul>
                    <p>In 3-4 ore ai o canapea uscata si curata, dezinfectata & igienizata</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section section_padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">AM SALVAT MASINILE DE MAI JOS:</h1>
                </div>
                <owl-carousel-o [options]="customOptions" class="before-and-after-section">
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/firma-curatare-saltele.jpg" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/curatare-profesionala-saltele.jpg" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/curatare-saltele-bucuresti.jpg" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/curatare-saltele-la-domiciliu-1.jpg" alt="">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>

</section>

<section class="section_dark_bg section_padding pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">PRETURI CURATARE SALTELE</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-pricing">
                <ul class="innovation_list mb_50">
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Saltea de pat: 75 lei / fata <br>
                        *daca mai curatam si alte elemente

                    </li>


                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-pricing">
                <ul class="innovation_list mb_50">
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Saltea de pat: 100 lei / fata <br>
                        *daca ne solicitati doar atat

                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 pricing-action">
                <button routerLink="/contact" class="btn btn-primary default_btn btn-red mb_30">Programeaza cu 10%
                    discount</button>
                <p>*Preturile pot creste in functie de gradul de murdarie si de dimensiune
                    Pretul final se stabileste dupa ce ne transmiteti fotografia cu salteaua pe care urmeaza sa o
                    curatam.

                </p>
            </div>
        </div>
    </div>
</section>

<section class="section_padding schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">FIRMA DE CURATARE SALTELE LA DOMICILIU?</h1>
                    <h2 class="mb_20">Dureaza doar 60 de secunde sa programezi o sedinta de curatare.<br>
                        Apoi te bucuri de o saltea curata si igienizata!
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center col-mb-50">
            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/book.svg">
                    </div>
                    <p>Ne suni sau ne trimiti email</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/confirm3.svg">
                    </div>
                    <p>Confirmam si programam ziua & ora</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/enjoy.svg">
                    </div>
                    <p>Te relaxezi</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="actions">
                    <a href="tel:+40748245081" class="btn btn-primary default_btn btn-red">Suna</a>
                    <a routerlink="/contact" class="btn btn-secondary default_btn">Cere oferta</a>
                </div>
            </div>
        </div>
    </div>
</section>