<section class="installation_area market_innovation section_padding section_dark_bg">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr_0">
                <div class="installation_left">
                    <div class="hero_section_title mb_50">

                        <h1>Fara bacterii in masina ta!</h1>
                        <h3>ADIO miros de tutun, pete vechi, urme de mancare
                            Ne deplasam la domiciliul tau, oriunde in Bucuresti & Ilfov</h3>
                    </div>
                    <!--end .hero_section_title-->
                    <ul class="innovation_list mb_50">
                        <li><img src="/assets/images/right-arrow.svg" alt="">Eliminam 99% din microbi</li>
                        <li><img src="/assets/images/right-arrow.svg" alt="">Scoatem pete imposibile</li>
                        <li><img src="/assets/images/right-arrow.svg" alt="">Dezinfectam si igienizam</li>
                        <li><img src="/assets/images/right-arrow.svg" alt="">Uscare rapida in 4 ore</li>
                    </ul>

                </div>
                <!--end .installation_left-->
            </div>
            <!--end .col-md-6-->
        </div>
        <!--end .row-->
    </div>
    <!--end .container-->
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">FOLOSITA FRECVENT, MASINA SE MURDARESTE</h1>
                    <h2 class="mb_50">Nu permite sa devina un mediu nesigur pentru sanatatea ta si a pasagerilor</h2>
                </div>
                <ul class="innovation_list mb_50">
                    <li><img src="/assets/images/right-arrow.svg" alt="">Masina e cel mai la indemana loc de luat masa
                        uneori.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Probail ca ai promis ca nu o sa mai fumezi in
                        interior.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Se mai intampla sa te mai si machezi pe fuga,
                        dimineata.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Praf, transpiratie si uzura zilnica.</li>
                    <li><img src="/assets/images/right-arrow.svg" alt="">Par de animale</li>
                </ul>
                <p>Nu doar <strong>murdaria vizibila</strong> de mancare si bautura, <strong>mirosul persistent de
                        tutun</strong>, praf sau combustibil
                    fac din masina ta un mediu neprietenos, fie ca o folosesti in interes de serviciu sau
                    personal.
                </p>
                <p>In timp, automobilul se poate transforma dintr-un mijloc de transport util, intr-o <strong>cale
                        primejdioasa de transmitere a multor afectiuni.
                        Bacterii, acarieni si virusuri</strong> se ascund in tapiteria masinii tale, mai aproape decat
                    iti imaginezi.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <img width="100%" src="assets/images/curatare-tapiterie-auto-bucuresti.jpg" class="mb_50 mt_50">
        <div class="hero_section_title mb_50">
            <p>Mai mult, produsele cu curatenie din comert lasa reziduuri in tapiteria auto. Aceste particule sunt
                adesea incarcate de substante chimice care pot declansa reactii alergice severe.
            </p>
        </div>
    </div>

</section>

<section class="section-full-width">
    <div class="hero_section_title text-center mb_50">
        <h1 class="mb_20">CUM SA AI O MASINA</h1>
        <h2>CURATA SI 100% IGIENIZATA?</h2>
    </div>
</section>
<section class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p class="mb_50">Curatarea obisnuita a interiorului masinii nu poate distruge bacteriile si agentii
                    patogeni daunatori sanatatii omului.
                    Petele dificile de cafea ulei sau pix nu vor fi scoase la o simpla curatare la spalatoria auto.
                    <strong>Uneori, cand incerci sa cureti pata, mai mult o adancesti in material.</strong>
                    O tapiterie curatata cu apa si detergent se usuca greu, iar umezeala favorizeaza aparitia
                    mucegaiului.

                </p>
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">CUM CURATAM NOI?</h1>
                    <p>Venim “inarmati” cu cel mai eficient aparat de curatare - prin metoda injectie - exctractie si
                        abur.</p>
                </div>
                <div class="section-list-container">
                    <ul>
                        <li>
                            <img src="/assets/images/01-e1555074623430.png" alt="">
                            <span>Aspiram tapiteria auto cu un aspirator ultra puternic pentru a scapa de praf si alte
                                particule nedorite</span>
                        </li>
                        <li>
                            <img src="/assets/images/02-e1555065752356.png" alt="">
                            <span>Injectam injectam apa cu solutie de curatat profesionala si non-chimica</span>
                        </li>
                        <li>
                            <img src="/assets/images/03-e1555066189397.png" alt="">
                            <span>Extragem apa, impreuna cu toata murdaria, praful, bacteriile si mirosurile
                                neplacute</span>
                        </li>
                    </ul>
                    <p>In 3-4 ore ai o masina uscata, dezinfectata, igienizata si frumos parfumata.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section section_padding">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">AM SALVAT MASINILE DE MAI JOS:</h1>
                </div>
                <owl-carousel-o [options]="customOptions" class="before-and-after-section">
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/curatare-tapiterie-auto-bucuresti-1.jpg" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/firma-detailing-auto.jpg" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/curatare-tapiterie-auto-profesionala.jpg" alt="">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="slide">
                            <img src="/assets/images/curatare-tapiterie-auto-la-domiciliu.jpg" alt="">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>

</section>

<section class="section_dark_bg section_padding pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">PRETURI CURATARE TAPITERIE AUTO SI DETAILING AUTO</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-pricing">
                <ul class="innovation_list mb_50">
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Autoturism: de la 300 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Cabina TIR: de la 500 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Autobuz: de la 800 lei
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-pricing">
                <ul class="innovation_list mb_50">
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Rulota: de la 400 lei
                    </li>
                    <li>
                        <img src="/assets/images/right-arrow.svg" alt="">
                        Avion: de la 3.000 lei
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p>Curatare plafon, fete de usi, mocheta, bord, centuri de siguranta, portbagaj, curatare & degresare
                    geamuri,
                    curatare plastice / aplicare solutie impotriva UV, reimprospatere culori naturale bord, chedere,
                    etc.
                </p>
              
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 pricing-action">
                <button routerLink="/contact" class="btn btn-primary default_btn btn-red mb_30">Programeaza cu 10%
                    discount</button>
                <p>*Preturile pot creste in functie de gradul de murdarie si de numarul de locuri
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section_padding schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="hero_section_title text-center mb_50">
                    <h1 class="mb_20">FIRMA DE CURATARE TAPITERIE AUTO SI DETAILING AUTO?</h1>
                    <h2 class="mb_20">Dureaza doar 60 de secunde sa programezi o sedinta de curatare.<br> 
                        Apoi te bucuri de o saltea curata si igienizata!
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center col-mb-50">
            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/book.svg">
                    </div>
                    <p>Ne suni sau ne trimiti email</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/confirm3.svg">
                    </div>
                    <p>Confirmam si programam ziua & ora</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="feature-box mx-0 fbox-small fbox-center border-0">
                    <div class="fbox-img position-relative">
                        <img src="assets/images/enjoy.svg">
                    </div>
                    <p>Curatam noi. Tu relaxeaza-te!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="actions">
                    <a href="tel:+40748245081" class="btn btn-primary default_btn btn-red">Suna</a>
                    <a routerlink="/contact" class="btn btn-secondary default_btn">Cere oferta</a>
                </div>
            </div>
        </div>
    </div>
</section>