  <!-- ***************************
        Feature Action Area Start
     *************************** -->
  <section class="feature_action_area section_padding section_bb">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pl_0">
          <div class="feature_action_left">
            <div class="img_box"></div>
            <div class="activity_title">
              Curatare canapele <small>Bucuresti & Ilfov</small>
            </div>
            <!--end .activity_title-->
          </div>
          <!--end .feature_action_left-->
        </div>
        <!--end .col-md-6-->
        <div class="col-md-6">
          <div class="feature_action_right">
            <div class="hero_section_title mb_30">

              <h1>Canapeaua e Locul</h1>
              <h3>cu Cele mai Frumoase Amintiri</h3>

            </div>
            <button class="btn btn-primary default_btn btn-red  mb_30" type="submit">Cere oferta</button>
            <!--end .hero_section_title-->
            <ul>
              <li><i class="icon-turn-off"></i> Te scapam de cele mai incapatanate pete</li>
              <li><i class="icon-unlock"></i> Fara acarieni, bacterii sau virusuri</li>
              <li><i class="icon-notification"></i> Eliminam mirosurile neplacute</li>
              <li><i class="icon-idea"></i> Redam prospetimea culorilor</li>
            </ul>
          </div>
          <!--end .feature_action_right-->
        </div>
        <!--end .col-md-6-->
      </div>
      <!--end .row-->
    </div>
    <!--end .container-->
  </section>
  <!--end .feature_action_area-->
  <!-- ***************************
     Feature Action Area End
  *************************** -->

  <!-- ***************************
        Protect and manage Area Start
     *************************** -->
  <section class="welcome_area protect_and_manage section_padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero_section_title mb_50">
            <h1>Toata lumea iubeste canapelele</h1>
            <h3>De aceea, trebuie sa fie un mediu placut si 100% sigur
            </h3>
          </div>
          <!--end .hero_section_title-->
        </div>
        <!--end .col-md-12-->
      </div>
      <!--end .row-->
      <div class="welcome_items_flex">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="welcome_item_box">
              <img src="/assets/images/icon-1.jpg" alt="">
              <h3>Curatam in profunzime</h3>
              <p>Patrundem in material cu solutii profesionale si extragem cu aspiratorul petele, impreuna cu toata
                murdaria</p>
            </div>
            <!--end .welcome_item_box-->
          </div>
          <!--end .col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="welcome_item_box">
              <img src="/assets/images/icon-2.jpg" alt="">
              <h3>Igienizam si dezinfectam</h3>
              <p>Distrugem si eliminam orice forma de acarieni, bacterii si virusuri daunatoare sanatatii</p>
            </div>
            <!--end .welcome_item_box-->
          </div>
          <!--end .col-md-4-->
          <div class="col-md-4 col-sm-6">
            <div class="welcome_item_box">
              <img src="/assets/images/icon-3.jpg" alt="">
              <h3>Reimprospatam si revigoram</h3>
              <p>O canapea curata se simte in toata incaperea! Lasam in urma doar culori vii si prospetime de primavara
              </p>
            </div>
            <!--end .welcome_item_box-->
          </div>
          <!--end .col-md-4-->
        </div>
        <!--end .row-->
      </div>
      <!--end .welcome_items_flex-->
    </div>
    <!--end .container-->
  </section>
  <!--end .welcome_area-->
  <!-- ***************************
     Protect and manage Area End
  *************************** -->

  <!-- ***************************
        Installation Area Start
     *************************** -->
  <section class="installation_area market_innovation section_padding section_dark_bg section-one">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr_0">
          <div class="installation_left">
            <div class="hero_section_title mb_50">
              <h4>Aici ai vazut cele mai bune filme</h4>
              <h1>Si ai mancat cel mai mult popcorn</h1>
            </div>
            <!--end .hero_section_title-->
            <ul class="innovation_list mb_50">
              <li><i class="fa fa-check-circle"></i> Pete de grasime</li>
              <li><i class="fa fa-check-circle"></i> Resturi alimentare</li>
              <li><i class="fa fa-check-circle"></i> Pete de suc, vin</li>
              <li><i class="fa fa-check-circle"></i> Transpiratie</li>

            </ul>
          </div>
          <!--end .installation_left-->
        </div>
        <!--end .col-md-6-->
      </div>

      <!--end .row-->
    </div>
    <!--end .container-->
  </section>
  <!--end .installation_area-->
  <!-- ***************************
     Installation Area End
  *************************** -->

  <!-- ***************************
        Installation Area Start
     *************************** -->
  <section class="installation_area market_innovation section_padding section_dark_bg section-two right">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pl_80 col-sm-push-6">
          <div class="installation_left">
            <div class="hero_section_title mb_50">
              <h4>E locul preferat de joaca al copiilor</h4>
              <h1>Toate activitatile sunt mai creative aici</h1>
            </div>
            <!--end .hero_section_title-->
            <ul class="innovation_list mb_50">
              <li><i class="fa fa-check-circle"></i>Pete de pix, carioca, cerneala</li>
              <li><i class="fa fa-check-circle"></i>Par de animale</li>
              <li><i class="fa fa-check-circle"></i>Resturi alimentare</li>
              <li><i class="fa fa-check-circle"></i>Pete de inghetata si ciocolata</li>
            </ul>
          </div>
          <!--end .installation_left-->
        </div>
        <!--end .col-md-6-->
      </div>

      <!--end .row-->
    </div>
    <!--end .container-->
  </section>
  <!--end .installation_area-->
  <!-- ***************************
       Installation Area End
    *************************** -->

  <!-- ***************************
        Installation Area Start
     *************************** -->
  <section class="installation_area market_innovation section_padding section_dark_bg section-three">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr_0">
          <div class="installation_left">
            <div class="hero_section_title mb_50">
              <h4>Aici s-au tinut mese intre prieteni</h4>
              <h1>Cu bunatati si povesti de tot felul</h1>
            </div>
            <!--end .hero_section_title-->
            <ul class="innovation_list mb_50">
              <li><i class="fa fa-check-circle"></i> Resturi alimentare</li>
              <li><i class="fa fa-check-circle"></i> Pete de vin, cafea suc</li>
              <li><i class="fa fa-check-circle"></i> Pete de grasime </li>
            </ul>
          </div>
          <!--end .installation_left-->
        </div>
        <!--end .col-md-6-->
      </div>

      <!--end .row-->
    </div>
    <!--end .container-->
  </section>
  <!--end .installation_area-->
  <!-- ***************************
     Installation Area End
  *************************** -->

  <!-- ***************************
        Installation Area Start
     *************************** -->
  <section class="installation_area market_innovation section_padding section_dark_bg section-four right">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pl_80 col-sm-push-6">
          <div class="installation_left">
            <div class="hero_section_title mb_50">
              <h4>Cate cafele nu ai baut</h4>
              <h1>Si cate povesti nu s-au spus la fiecare ceasca</h1>
            </div>
            <!--end .hero_section_title-->
            <ul class="innovation_list mb_50">
              <li><i class="fa fa-check-circle"></i>Pete de cafea</li>
              <li><i class="fa fa-check-circle"></i>Pete de lapte</li>
            </ul>
          </div>
          <!--end .installation_left-->
        </div>
        <!--end .col-md-6-->
      </div>

      <!--end .row-->
    </div>
    <!--end .container-->
  </section>
  <!--end .installation_area-->
  <!-- ***************************
         Installation Area End
      *************************** -->

  <!-- ***************************
        Installation Area Start
     *************************** -->
  <section class="installation_area market_innovation section_padding section_dark_bg section-five">
    <img src="assets/images/testimonial-shape.png" class="triangle_shape installation_shape" alt="Shape">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr_0">
          <div class="installation_left">
            <div class="hero_section_title mb_50">
              <h4>Aici ai semnat contractele cele mai importante</h4>
              <h1>Si ai lucrat de acasa la cele mai tari proiecte</h1>
            </div>
            <!--end .hero_section_title-->
            <ul class="innovation_list mb_50">
              <li><i class="fa fa-check-circle"></i> Pete de pix, cerneala</li>
              <li><i class="fa fa-check-circle"></i> Pete de cafea</li>
              <li><i class="fa fa-check-circle"></i> Resturi alimentare</li>

            </ul>
          </div>
          <!--end .installation_left-->
        </div>
        <!--end .col-md-6-->
      </div>

      <!--end .row-->
    </div>
    <!--end .container-->
  </section>
  <!--end .installation_area-->
  <!-- ***************************
     Installation Area End
  *************************** -->

  <section class=" section_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero_section_title text-center mb_50">
            <h1 class="mb_20">Canapeaua este expusa zilnic la uzura</h1>
            <p class="mb_50">Curatarea obisnuita, cu apa si solutii din  comert, nu este suficienta pentru indepartarea prafului si a acarienilor ascunsi in profunzimea tesaturii. Din contra, fac ca murdaria sa patrunda si mai adanc, facilitand apartia bacteriilor, a mucegaiului si a mirosurilor neplacute.</p>
          </div>
          <!--end .hero_section_title-->
        </div>
        <!--end .col-md-12-->
      </div>
      <!--end .row-->
  
    
    <img src="assets/images/firma-curatare-canapele.jpg" alt="House" class=" mb_50">
    <div class="hero_section_title text-center mb_50">
      <h1 class="mb_20">Suntem pregatiti sa-ti salvam canapeaua, scaunele si salteaua</h1>
      <p class="mb_50">Scoatem pete, igenizam in profunzime si dezinfectam</p>
      <a href="tel:+40748245081" class="btn btn-primary default_btn btn-red">Suna (0748) 245 081</a>
    </div>
  </div>
  <!--end .container-->
  </section>

  <section class="feedbacks_area section_padding section_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 pr_0">
          <div class="feedbacks_left text-right">
            <img src="assets/images/feedback-img.png" alt="FeedBack Image">
          </div>
          <!--end .feedbacks_left-->
        </div>
        <!--end .col-md-7-->
        <div class="col-md-5 col-sm-6 pl_0">
          <div class="feedbacks_right">
            <div class="feedbacks_content">
              <ul class="star">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-half-full"></i></li>
              </ul>
              <p>Very professional and courteous staff. The whole setup is efficient and gives you confidence.</p>
              <h3>Shirley Smith</h3>
              <span>HoomPotact Customer</span>
            </div>
            <!--end .feedbacks_content-->
          </div>
          <!--end feedbacks_right-->
        </div>
        <!--end .col-md-5-->
      </div>
      <!--end .row-->
    </div>
    <!--end .container-->
  </section>

  <section class="automation_control_area section_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="hero_section_title text-center mb_50">
            <h1>Curatam impecabil si alte tipuri de spatii</h1>
          </div>
          <!--end .hero_section_title-->
        </div>
        <!--end .col-md-12-->
      </div>
      <!--end .row-->
      <div class="automation_control_section">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2 text-right">
            <div class="automation_control_box light_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box text-left">
                <i class="icon-idea"></i>
                <div class="automation_details">
                  <h3>Curatenie la domiciliu</h3>
                  <p>Apartamente, garsoniere, vile
                    Curatenie generala & Curatenie de intretinere
                  </p>
                </div>
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
          </div>
          <!--end .col-md-2-->
          <div class="col-md-2 col-sm-2 col-xs-2 text-center">
            <div class="automation_control_box cooker_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box text-left">
                <i class="icon-idea"></i>
                <div class="automation_details">
                  
                  <h3>Curatenie bucatarii
                  </h3>
                  <p>
                    Curatare, igienizare si dezinfectare
                  </p>
                </div>
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
          </div>
          <!--end .col-md-2-->
          <div class="col-md-2 col-sm-2 col-xs-2 text-right">
            <div class="automation_control_box window_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box text-left">
                <i class="icon-idea"></i>
                <div class="automation_details">
                  <h3>Curatenie birouri
                  </h3>
                  <p>La cerere sau abonamente
                    Curatenie de intretinere, aspirare mochete
                    </p>
                </div>
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
          </div>
          <!--end .col-md-2-->
          <div class="col-md-2 col-sm-2 col-xs-2 text-center">
            <div class="automation_control_box bathroom_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box text-left">
                <i class="icon-idea"></i>
                <div class="automation_details">
                  <h3>Curatenie spatii comerciale</h3>
                  <p>
                    Zona HoReCa<br>
                    Centre comerciale<br>
                    Cabinete medicale<br>

                  </p>
                </div>
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
          </div>
          <!--end .col-md-2-->
          <div class="col-md-2 col-sm-2 col-xs-2 visibility_hidden">
            <div class="automation_control_box cctv_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box">
                <i class="icon-cctv"></i>
               
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
            <div class="automation_control_box wall_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box">
                <i class="icon-cctv"></i>
               
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
          </div>
          <!--end .col-md-2-->
          <div class="col-md-2 col-sm-2 col-xs-2 text-center">
            <div class="automation_control_box garage_control">
              <i class="fa fa-plus plus_point"></i>
              <div class="automation_details_box text-left">
                <i class="icon-car"></i>
                <div class="automation_details">
                  <h3>Curatare si detailing auto</h3>
                  <p>Curatare profesionala tapiterie
                    Autoturisme, rulote, cabine de tir, avioane
                    </p>
                </div>
                <!--end automation_details-->
              </div>
              <!--end .automation_details_box-->
            </div>
            <!--end .automation_control_box-->
          </div>
          <!--end .col-md-2-->
        </div>
        <!--end .row-->
      </div>
      <!--end .automation_control_section-->
    </div>
    <!--end .container-->
    <img src="assets/images/servicii-de-curatenie-bucuresti.png" alt="House" class="house">
  </section>

  <section class="cta_area section_padding light_bg">
    <img src="assets/images/wlc-shape-1.png" alt="Shape" class="map_shape cta_shape_1">
    <img src="assets/images/wlc-shape-2.png" alt="Shape" class="map_shape_2 cta_shape_2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta_box">
                    <h1>Keep the smart home experience effortless</h1>
                    <p>Professional installation and $0 activation</p>
                    <a href="#" class="btn btn-default default_btn">Cere oferta</a>
                    <img class="house_shape" src="assets/images/curatare-canapele-scaune-saltele.png" alt="House Image">
                </div><!--end .cta_box-->
            </div><!--end .col-md-12-->
        </div><!--end .row-->
    </div><!--end .container-->
</section>