.gdpr {
    padding: 40px 0;
}

.lst-kix_6f5maydcmgwi-0>li:before {
    content: "\0025cf  "
}

.lst-kix_6f5maydcmgwi-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_amercy5md70r-6 {
    list-style-type: none
}

ul.lst-kix_amercy5md70r-5 {
    list-style-type: none
}

.lst-kix_6f5maydcmgwi-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_amercy5md70r-8 {
    list-style-type: none
}

ul.lst-kix_amercy5md70r-7 {
    list-style-type: none
}

.lst-kix_6f5maydcmgwi-6>li:before {
    content: "\0025cf  "
}

.lst-kix_6f5maydcmgwi-7>li:before {
    content: "\0025cb  "
}

.lst-kix_6f5maydcmgwi-8>li:before {
    content: "\0025a0  "
}

.lst-kix_mf8231k5g81c-0>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-0
}

ol.lst-kix_mf8231k5g81c-2.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-2 0
}

ul.lst-kix_amercy5md70r-0 {
    list-style-type: none
}

ul.lst-kix_amercy5md70r-2 {
    list-style-type: none
}

ul.lst-kix_amercy5md70r-1 {
    list-style-type: none
}

ul.lst-kix_amercy5md70r-4 {
    list-style-type: none
}

ul.lst-kix_amercy5md70r-3 {
    list-style-type: none
}

.lst-kix_6f5maydcmgwi-4>li:before {
    content: "\0025cb  "
}

.lst-kix_6f5maydcmgwi-2>li:before {
    content: "\0025a0  "
}

.lst-kix_6f5maydcmgwi-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_28oipo356ik9-0 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-2 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-1 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-4 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-3 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-6 {
    list-style-type: none
}

.lst-kix_qqs3bamze7jl-0>li:before {
    content: "\0025cf  "
}

ol.lst-kix_mf8231k5g81c-5.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-5 0
}

ul.lst-kix_28oipo356ik9-5 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-8 {
    list-style-type: none
}

.lst-kix_qqs3bamze7jl-1>li:before {
    content: "\0025cb  "
}

ul.lst-kix_qqs3bamze7jl-8 {
    list-style-type: none
}

ul.lst-kix_28oipo356ik9-7 {
    list-style-type: none
}

.lst-kix_n0ko9pwg1q3v-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_qqs3bamze7jl-7 {
    list-style-type: none
}

ul.lst-kix_qqs3bamze7jl-6 {
    list-style-type: none
}

ul.lst-kix_qqs3bamze7jl-5 {
    list-style-type: none
}

.lst-kix_qqs3bamze7jl-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_qqs3bamze7jl-4 {
    list-style-type: none
}

ul.lst-kix_qqs3bamze7jl-3 {
    list-style-type: none
}

.lst-kix_qqs3bamze7jl-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_qqs3bamze7jl-2 {
    list-style-type: none
}

ul.lst-kix_qqs3bamze7jl-1 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-8>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-8
}

.lst-kix_mf8231k5g81c-2>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-2
}

ul.lst-kix_25ld5yzfpeai-6 {
    list-style-type: none
}

ul.lst-kix_n0ko9pwg1q3v-0 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-5 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-8 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-7 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-2 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-1 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-4 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-3 {
    list-style-type: none
}

ul.lst-kix_25ld5yzfpeai-0 {
    list-style-type: none
}

.lst-kix_amercy5md70r-4>li:before {
    content: "\0025cb  "
}

.lst-kix_amercy5md70r-5>li:before {
    content: "\0025a0  "
}

.lst-kix_qqs3bamze7jl-5>li:before {
    content: "\0025a0  "
}

.lst-kix_amercy5md70r-6>li:before {
    content: "\0025cf  "
}

.lst-kix_qqs3bamze7jl-4>li:before {
    content: "\0025cb  "
}

.lst-kix_qqs3bamze7jl-8>li:before {
    content: "\0025a0  "
}

.lst-kix_amercy5md70r-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_n0ko9pwg1q3v-8 {
    list-style-type: none
}

ul.lst-kix_n0ko9pwg1q3v-7 {
    list-style-type: none
}

.lst-kix_amercy5md70r-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_n0ko9pwg1q3v-6 {
    list-style-type: none
}

ul.lst-kix_n0ko9pwg1q3v-5 {
    list-style-type: none
}

.lst-kix_qqs3bamze7jl-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_n0ko9pwg1q3v-4 {
    list-style-type: none
}

ul.lst-kix_n0ko9pwg1q3v-3 {
    list-style-type: none
}

ol.lst-kix_mf8231k5g81c-4.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-4 0
}

ul.lst-kix_n0ko9pwg1q3v-2 {
    list-style-type: none
}

ul.lst-kix_n0ko9pwg1q3v-1 {
    list-style-type: none
}

.lst-kix_qqs3bamze7jl-6>li:before {
    content: "\0025cf  "
}

ol.lst-kix_mf8231k5g81c-4 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-6>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-6, decimal) ". "
}

ol.lst-kix_mf8231k5g81c-3 {
    list-style-type: none
}

.lst-kix_25ld5yzfpeai-3>li:before {
    content: "\0025cf  "
}

.lst-kix_25ld5yzfpeai-4>li:before {
    content: "\0025cb  "
}

ol.lst-kix_mf8231k5g81c-2 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-5>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-5, lower-roman) ". "
}

.lst-kix_mf8231k5g81c-7>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-7, lower-latin) ". "
}

ol.lst-kix_mf8231k5g81c-1 {
    list-style-type: none
}

ol.lst-kix_mf8231k5g81c-8 {
    list-style-type: none
}

ol.lst-kix_mf8231k5g81c-3.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-3 0
}

ol.lst-kix_mf8231k5g81c-7 {
    list-style-type: none
}

ol.lst-kix_mf8231k5g81c-6 {
    list-style-type: none
}

ol.lst-kix_mf8231k5g81c-5 {
    list-style-type: none
}

.lst-kix_25ld5yzfpeai-0>li:before {
    content: "\0025cf  "
}

.lst-kix_25ld5yzfpeai-8>li:before {
    content: "\0025a0  "
}

.lst-kix_mf8231k5g81c-1>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-1, lower-latin) ". "
}

ol.lst-kix_mf8231k5g81c-0 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-8>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-8, lower-roman) ". "
}

.lst-kix_25ld5yzfpeai-1>li:before {
    content: "\0025cb  "
}

.lst-kix_25ld5yzfpeai-2>li:before {
    content: "\0025a0  "
}

.lst-kix_mf8231k5g81c-0>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-0, decimal) ". "
}

.lst-kix_8ksfphlek0rx-7>li:before {
    content: "\0025cb  "
}

.lst-kix_amercy5md70r-3>li:before {
    content: "\0025cf  "
}

ol.lst-kix_mf8231k5g81c-0.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-0 0
}

.lst-kix_amercy5md70r-2>li:before {
    content: "\0025a0  "
}

.lst-kix_8ksfphlek0rx-5>li:before {
    content: "\0025a0  "
}

.lst-kix_mf8231k5g81c-5>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-5
}

.lst-kix_8ksfphlek0rx-4>li:before {
    content: "\0025cb  "
}

.lst-kix_8ksfphlek0rx-8>li:before {
    content: "\0025a0  "
}

.lst-kix_amercy5md70r-0>li:before {
    content: "\0025cf  "
}

.lst-kix_mf8231k5g81c-2>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-2, lower-roman) ". "
}

.lst-kix_amercy5md70r-1>li:before {
    content: "\0025cb  "
}

.lst-kix_mf8231k5g81c-3>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-3, decimal) ". "
}

.lst-kix_mf8231k5g81c-4>li:before {
    content: ""counter(lst-ctn-kix_mf8231k5g81c-4, lower-latin) ". "
}

.lst-kix_8ksfphlek0rx-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_8ksfphlek0rx-7 {
    list-style-type: none
}

ul.lst-kix_6f5maydcmgwi-8 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-6 {
    list-style-type: none
}

ul.lst-kix_8ksfphlek0rx-8 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-3>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-3
}

ul.lst-kix_rypvc4ulpjpq-5 {
    list-style-type: none
}

ul.lst-kix_6f5maydcmgwi-6 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-8 {
    list-style-type: none
}

ul.lst-kix_6f5maydcmgwi-7 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-7 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-2 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-1 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-4 {
    list-style-type: none
}

ul.lst-kix_rypvc4ulpjpq-3 {
    list-style-type: none
}

ul.lst-kix_8ksfphlek0rx-0 {
    list-style-type: none
}

.lst-kix_n0ko9pwg1q3v-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_8ksfphlek0rx-1 {
    list-style-type: none
}

ul.lst-kix_8ksfphlek0rx-2 {
    list-style-type: none
}

ul.lst-kix_8ksfphlek0rx-3 {
    list-style-type: none
}

ol.lst-kix_mf8231k5g81c-6.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-6 0
}

ul.lst-kix_8ksfphlek0rx-4 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-6>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-6
}

.lst-kix_n0ko9pwg1q3v-1>li:before {
    content: "\0025cb  "
}

.lst-kix_n0ko9pwg1q3v-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_8ksfphlek0rx-5 {
    list-style-type: none
}

ul.lst-kix_8ksfphlek0rx-6 {
    list-style-type: none
}

ul.lst-kix_qqs3bamze7jl-0 {
    list-style-type: none
}

.lst-kix_n0ko9pwg1q3v-3>li:before {
    content: "\0025cf  "
}

.lst-kix_n0ko9pwg1q3v-4>li:before {
    content: "\0025cb  "
}

.lst-kix_25ld5yzfpeai-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_6f5maydcmgwi-0 {
    list-style-type: none
}

ul.lst-kix_6f5maydcmgwi-1 {
    list-style-type: none
}

.lst-kix_n0ko9pwg1q3v-7>li:before {
    content: "\0025cb  "
}

.lst-kix_25ld5yzfpeai-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_rypvc4ulpjpq-0 {
    list-style-type: none
}

ul.lst-kix_6f5maydcmgwi-4 {
    list-style-type: none
}

.lst-kix_25ld5yzfpeai-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_6f5maydcmgwi-5 {
    list-style-type: none
}

.lst-kix_n0ko9pwg1q3v-5>li:before {
    content: "\0025a0  "
}

.lst-kix_n0ko9pwg1q3v-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_6f5maydcmgwi-2 {
    list-style-type: none
}

ul.lst-kix_6f5maydcmgwi-3 {
    list-style-type: none
}

.lst-kix_mf8231k5g81c-1>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-1
}

ol.lst-kix_mf8231k5g81c-8.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-8 0
}

.lst-kix_rypvc4ulpjpq-0>li:before {
    content: "\0025cf  "
}

.lst-kix_rypvc4ulpjpq-1>li:before {
    content: "\0025cb  "
}

.lst-kix_rypvc4ulpjpq-2>li:before {
    content: "\0025a0  "
}

.lst-kix_rypvc4ulpjpq-3>li:before {
    content: "\0025cf  "
}

.lst-kix_rypvc4ulpjpq-4>li:before {
    content: "\0025cb  "
}

.lst-kix_28oipo356ik9-8>li:before {
    content: "\0025a0  "
}

.lst-kix_8ksfphlek0rx-1>li:before {
    content: "\0025cb  "
}

.lst-kix_8ksfphlek0rx-0>li:before {
    content: "\0025cf  "
}

.lst-kix_28oipo356ik9-5>li:before {
    content: "\0025a0  "
}

.lst-kix_8ksfphlek0rx-3>li:before {
    content: "\0025cf  "
}

.lst-kix_rypvc4ulpjpq-7>li:before {
    content: "\0025cb  "
}

.lst-kix_28oipo356ik9-6>li:before {
    content: "\0025cf  "
}

.lst-kix_rypvc4ulpjpq-5>li:before {
    content: "\0025a0  "
}

.lst-kix_rypvc4ulpjpq-6>li:before {
    content: "\0025cf  "
}

.lst-kix_8ksfphlek0rx-2>li:before {
    content: "\0025a0  "
}

.lst-kix_28oipo356ik9-7>li:before {
    content: "\0025cb  "
}

ol.lst-kix_mf8231k5g81c-1.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-1 0
}

.lst-kix_28oipo356ik9-0>li:before {
    content: "\0025cf  "
}

.lst-kix_28oipo356ik9-2>li:before {
    content: "\0025a0  "
}

ol.lst-kix_mf8231k5g81c-7.start {
    counter-reset: lst-ctn-kix_mf8231k5g81c-7 0
}

.lst-kix_28oipo356ik9-1>li:before {
    content: "\0025cb  "
}

.lst-kix_mf8231k5g81c-4>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-4
}

.lst-kix_mf8231k5g81c-7>li {
    counter-increment: lst-ctn-kix_mf8231k5g81c-7
}

.lst-kix_rypvc4ulpjpq-8>li:before {
    content: "\0025a0  "
}

.lst-kix_28oipo356ik9-4>li:before {
    content: "\0025cb  "
}

.lst-kix_28oipo356ik9-3>li:before {
    content: "\0025cf  "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c14 {
    background-color: #ffffff;
    margin-left: 53pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c0 {
    background-color: #ffffff;
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c12 {
    -webkit-text-decoration-skip: none;
    color: #000000;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-size: 11pt;
    font-family: "Arial";
    font-style: italic
}

.c13 {
    background-color: #ffffff;
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c23 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 34pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c7 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 11pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c18 {
    background-color: #ffffff;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c3 {
    background-color: #ffffff;
    padding-top: 11pt;
    padding-bottom: 11pt;
    line-height: 1.3999999999999997;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c20 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Arial";
    font-style: normal
}

.c21 {
    background-color: #ffffff;
    padding-top: 11pt;
    padding-bottom: 11pt;
    line-height: 1.3999999999999997;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: italic
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c19 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c16 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c24 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c9 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c22 {
    margin-left: 36pt;
    text-indent: -18pt
}

.c6 {
    color: inherit;
    text-decoration: inherit
}

.c15 {
    padding: 0;
    margin: 0
}

.c17 {
    font-style: italic
}

.c10 {
    height: 11pt
}

.c2 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

