<section class="feedbacks_area section_padding section_bg">
    <div class="container">
        <div class="row">
            <owl-carousel-o [options]="customOptions" class="before-and-after-section">
                <ng-template carouselSlide>
                    <div class="col-md-7 col-sm-6 pr_0">
                        <div class="feedbacks_left text-right">
                            <img src="assets/images/recenzie-1-curatare-canapele.png" alt="FeedBack Image">
                        </div>
                        <!--end .feedbacks_left-->
                    </div>
                    <!--end .col-md-7-->
                    <div class="col-md-5 col-sm-6 pl_0">
                        <div class="feedbacks_right">
                            <div class="feedbacks_content">

                                <p>Cand am vazut cata mizerie a putut sa iasa din coltarul din living nu mi-a venit sa
                                    cred! Nu i-am lasat sa plece pana nu mi-au facut si saltelele :)
                                </p>
                                <h3>Maria V.</h3>
                                <span>Cartier Cosmopolis</span>
                            </div>
                            <!--end .feedbacks_content-->
                        </div>
                        <!--end feedbacks_right-->
                    </div>
                    <!--end .col-md-5-->
                </ng-template>

                <ng-template carouselSlide>
                    <div class="col-md-7 col-sm-6 pr_0">
                        <div class="feedbacks_left text-right">
                            <img src="assets/images/recenzie-2-curatat-canapele.png" alt="FeedBack Image">
                        </div>
                        <!--end .feedbacks_left-->
                    </div>
                    <!--end .col-md-7-->
                    <div class="col-md-5 col-sm-6 pl_0">
                        <div class="feedbacks_right">
                            <div class="feedbacks_content">

                                <p>Am vrut s-o arunc, mi se pareau pete imposibil de scos. Mi-a recomandat o prietena
                                    site-ul acesta si iata ce a iesit! Sunt impresionata.
                                </p>
                                <h3>Sonia T.</h3>
                                <span>Bragadiru, Ilfov</span>
                            </div>
                            <!--end .feedbacks_content-->
                        </div>
                        <!--end feedbacks_right-->
                    </div>
                    <!--end .col-md-5-->
                </ng-template>

                <ng-template carouselSlide>
                    <div class="col-md-7 col-sm-6 pr_0">
                        <div class="feedbacks_left text-right">
                            <img src="assets/images/recenzie-3-curatat-tapiterie-auto.png" alt="FeedBack Image">
                        </div>
                        <!--end .feedbacks_left-->
                    </div>
                    <!--end .col-md-7-->
                    <div class="col-md-5 col-sm-6 pl_0">
                        <div class="feedbacks_right">
                            <div class="feedbacks_content">

                                <p>Mai are sens sa spun ceva? Mi-am programat o curatenie cu dezinfectare de
                                    2 ori pe an, mai ales ca sunt sofer 7 zile din 7.
                                </p>
                                <h3>Marian V.</h3>
                                <span>Sector 2, Bucuresti</span>
                            </div>
                            <!--end .feedbacks_content-->
                        </div>
                        <!--end feedbacks_right-->
                    </div>
                    <!--end .col-md-5-->
                </ng-template>
            </owl-carousel-o>

        </div>
        <!--end .row-->
    </div>
    <!--end .container-->
</section>